.promo {
	position: relative;
	width: 100%;

	.hashtag {
		position: absolute;
		bottom: 50%;
		left: calc(50% - 50px);
		background: $primary;
		text-transform: uppercase;
		padding: 4px 10px;
	}

	#promo-container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		margin: auto;

		div {
			@include breakpoint(mobile) {
				width: calc(95% / 3);
			}
			transition: all 0.5s ease;
			width: calc(95% / 6);
			height: 12vw;
			margin-bottom: 0.5rem;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;

			&:hover {
				background-size: 120%;
			}
		}
	}
}
