@import "../mixin.scss";
@import "../colors.scss";

%nav-btn {
	transition: all 0.5s ease;
	position: absolute;
	font-size: 2vw;
	font-weight: 800;
	color: $primary;
	background: $white;
	width: 32px;
	height: 100%;
	border: none;
	outline: none;
	padding: 0;
	cursor: pointer;

	&:hover {
		background: $primary-light;
	}
	&:disabled {
		background: $white;
		color: $grey;
		cursor: default;
	}
}

.slider-container {
	position: relative;
	display: flex;
	padding: 0 32px;
	overflow: hidden;
	text-transform: uppercase;

	.btn-prev {
		@extend %nav-btn;
		left: 0;
		z-index: 1;
	}

	.btn-next {
		@extend %nav-btn;
		right: 0;
	}

	.cards-container {
		transition: all 0.5s ease-in-out;
		display: flex;
		flex: 0 0 auto;
		width: 100%;
		margin: 0;
	}

	.card {
		position: relative;
		width: 25%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-direction: column;
		flex: 0 0 auto;
		padding: 2% 0;
		font-size: 0.8vw;

		img {
			flex: 1 1 auto;
			transition: all 0.5s ease-in-out;
			width: 10vw;
			margin: auto;
			cursor: pointer;

			&:hover {
				transform: rotateY(180deg);
			}
		}

		.favorite {
			position: absolute;
			bottom: 5vw;
			right: 5vw;
			font-size: 2vw;
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: $favorite;
			}
		}

		p {
			margin: 4% 0 0;
		}

		button {
			transition: all 0.3s ease;
			background: transparent;
			border: none;
			outline: none;
			box-shadow: 0 4px 2px -3px $primary;
			text-transform: uppercase;
			font-size: 0.8vw;
			padding: 4px;
			margin-top: 6%;
			cursor: pointer;

			&:hover {
				box-shadow: 0 4px 2px -1px $primary;
			}
		}
	}
}
