@import "../../mixin.scss";

%heading-line {
	content: "";
	position: absolute;
	top: 50%;
	border-bottom: 2px solid $primary;
	width: 592px;
	margin: 0 20px;
}

.best-sellers {
	margin: 5rem 0;

	.heading {
		overflow: hidden;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.8rem;

		span {
			position: relative;
			display: inline-block;

			&:before {
				@extend %heading-line;
				right: 100%;
			}

			&:after {
				@extend %heading-line;
				left: 100%;
			}
		}
	}
}
