<footer class="footer">
	<div class="footer-links">
		<h4>Koibird</h4>
		<ul>
			<li>About</li>
			<li>Terms and conditions</li>
			<li>Privacy policy</li>
			<li>Contact us</li>
		</ul>
	</div>
	<div class="newsletter">
		<form>
			<label for="sign-up" class="sign-up"
				>sign up for our newsletter
				<input type="email" id="sign-up" required />
			</label>
			<label for="tickbox" class="tickbox">
				<input type="checkbox" id="tickbox" required />
				GDPR tickbox
			</label>
			<button type="submit">Submit</button>
		</form>
	</div>
</footer>
