@import "./components//header/header.scss";
@import "./components/banner/banner.scss";
@import "./components/card/card.scss";

body {
	font-family: Verdana, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	width: 100vw;
}

* {
	box-sizing: border-box;
}
